<html>
    <head>
        <meta charset="utf-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <title>Domi's Suche</title>
    </head>
    
    <body>
        <center>
        <h1>Domi's Suche</h1>
        <form method="POST">
            <input name="text">
            <input type="submit" value="Suche">
        </form>
        
        <div max-width="75%">
            {% if data is defined %}
                <h3>Search results for: {{ keyword }} </h3>
                <p>Found {{ n_results }} results</p>
                {% for entry in data %}
                <div style="border: 1px solid black; margin-bottom: 7px; border-radius: 10px;">
                    <p>
                    <b>{{ entry._title }}</b><br>
                    <a href="{{ entry._url }}">{{ entry._url }}</a><br>
                    Rating: {{ entry._rating }}<br>
                    Keywords: {{ entry._keywords }}<br>
                    {{ entry._ts }}
                    </p>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
